
<main>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="large"
        color="#fff" 
        type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando Influencers...</p>
    </ngx-spinner>
    <section class="section section-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-2 shadow">
                    <h4 class="pink mt-4">Filtrar <i class="fa fa-sliders" aria-hidden="true"></i></h4>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <h4 class="dropdown" (click)="setVisible(0)" >Demografía <i *ngIf="!demografyVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="demografyVisible" class="fa fa-caret-up" aria-hidden="true"></i></h4>
                        </div>
                        <div id="demografy" *ngIf="demografyVisible">
                            <div class="row">
                                <h4>Edad</h4>
                            </div>
                            <div class="row mt-4">
                                <!-- Range slider container -->
                                <div style="width: 100%;" id="input-slider-range"></div>
                            </div>
                            <div class="row">
                                <h5>Sexo</h5>
                            </div>
                            <div class="row">
                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                                    <label class="custom-control-label" for="customCheck1">
                                        <span>Hombre</span>
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" id="customCheck2" type="checkbox">
                                    <label class="custom-control-label" for="customCheck2">
                                        <span>Mujer</span>
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" id="customCheck3" type="checkbox">
                                    <label class="custom-control-label" for="customCheck3">
                                        <span>Otro</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <h5 class="dropdown" (click)="setMiniVisible(0)" >Países ({{countries.length}}) <i *ngIf="!countryVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="countryVisible" class="fa fa-caret-up" aria-hidden="true"></i></h5>
                            </div>
                            <div id="country" class="scroll" *ngIf="countryVisible">
                                <div class="custom-control custom-checkbox mb-3" *ngFor="let country of countries;">
                                    <input class="custom-control-input" id="customCheck{{country}}" type="checkbox">
                                    <label class="custom-control-label" for="customCheck{{country}}">
                                        <span>{{country}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <h5 class="dropdown" (click)="setMiniVisible(1)" >Idiomas ({{idioms.length}}) <i *ngIf="!idiomVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="idiomVisible" class="fa fa-caret-up" aria-hidden="true"></i></h5>
                            </div>
                            <div id="idiom" class="scroll" *ngIf="idiomVisible">
                                <div class="custom-control custom-checkbox mb-3" *ngFor="let idiom of idioms;">
                                    <input class="custom-control-input" id="customCheck{{idiom}}" type="checkbox">
                                    <label class="custom-control-label" for="customCheck{{idiom}}">
                                        <span>{{idiom}}</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <hr class="nomargin15">
                        <div class="row">
                            <h4 class="dropdown" (click)="setVisible(1)" >Plataformas <i *ngIf="!platformVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="platformVisible" class="fa fa-caret-up" aria-hidden="true"></i></h4>
                        </div>
                        <div id="platform" *ngIf="platformVisible">
                            <div class="row" *ngFor="let social of socials">
                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                    <input class="custom-control-input" id="customCheck{{social}}" type="checkbox">
                                    <label class="custom-control-label" for="customCheck{{social}}">
                                        <span>{{social}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <h5>Nº de seguidores</h5>
                            </div>
                            <div class="row mt-4">
                                <!-- Range slider container -->
                                <div style="width: 100%;" id="input-slider-range-followers"></div>
                            </div>
                        </div>
                        <hr class="nomargin15">
                        <div class="row">
                            <h4 class="dropdown" (click)="setVisible(2)" >Precio <i *ngIf="!priceVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="priceVisible" class="fa fa-caret-up" aria-hidden="true"></i></h4>
                        </div>
                        <div id="price" *ngIf="priceVisible">
                            <div class="row" class="mt-5">
                                <div style="width: 100%;" id="input-slider-range-price"></div>
                            </div>
                        </div>
                        <hr class="nomargin15">
                        <div class="row">
                            <h4 class="dropdown" (click)="setVisible(3)" >Etiquetas <i *ngIf="!tagsVisible" class="fa fa-caret-down" aria-hidden="true"></i> <i *ngIf="tagsVisible" class="fa fa-caret-up" aria-hidden="true"></i></h4>
                        </div>
                        <div id="tags" *ngIf="tagsVisible">
                            <div class="row">
                                <h6>Seleccionadas (Todas)</h6>
                            </div>
                            <div class="row" *ngFor="let tag of tags">
                                <div class="custom-control custom-checkbox mb-3 mr-3" >
                                    <input class="custom-control-input" id="customCheck{{tag}}" type="checkbox" checked>
                                    <label class="custom-control-label" for="customCheck{{tag}}">
                                        <span>{{tag}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                </div>
                <div class="col-md-10">
                    <div class="container">
                        <h2>Selecciona uno o más influencers para tu campaña</h2>
                        <div class="row mt-5">
                            <div class="col-md-1">
                                <h5>Ordenar</h5>
                            </div>
                            <div class="col-md-3 ml-2">
                                <div class="dropdown" ngbDropdown>
                                    <a class="btn btn-default dropdown-toggle" id="navbarDropdownMenuLink2" ngbDropdownToggle>
                                        {{selectedFilter}}
                                    </a>
                                    <ul class="" aria-labelledby="navbarDropdownMenuLink2" ngbDropdownMenu>
                                        <li *ngFor="let filter of filters;  let i = index"> 
                                            <a class="dropdown-item" (click)="changeFilter(filter)">
                                                {{filter}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-1 mr-3">
                                <h5>Nombre</h5>
                            </div>
                            <div class="col-md-3">
                                <input (keyup)="search()" id="namesearch" type="text" placeholder="Nombre y Apellidos" class="form-control form-control-alternative" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9" style="height: 1000px;overflow: scroll;">
                            <div class="container mt-5 nomargin" *ngFor="let user of users; let i = index">
                                <div class="shadow">
                                    <div class="row" (click)="goToLink('/#/influencer-profile/', user.id)">
                                        <div class="col-md-3 d-flex justify-content-center p-4 mt-4">
                                            <img *ngIf="!user.imageUrl" src="../../assets/img/brand/user.svg" class="img-fluid rounded-circle shadow-lg image-resize">
                                            <img *ngIf="user.imageUrl" [src]="user.imageUrl" class="img-fluid rounded-circle shadow-lg image-resize">
                                        </div>
                                        <div class="col-md-9 padding-mobile">
                                            <div class="row mt-3" style="margin-bottom: -15px;">
                                                <h4 class="mr-2 mr-3">{{user.username}}</h4>
                                                <a class="btn btn-1 btn-primary" >
                                                    <span class="nav-link-inner--text">15 <i class="fa fa-diamond" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                                <a class="btn btn-1 btn-check ml-auto mr-5 mt-1" (click)="addCampaign(user.id, i)" *ngIf="selectedProductId" >
                                                    <i class="fa fa-plus" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                </a>
                                            </div>
                                            <div class="row">
                                                <span style="margin-right: 2px;" *ngIf="usersAge[i]">{{usersAge[i]}},</span><span>{{user.country}}</span>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="mr-5" style="margin-left: 10px;">
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="heading"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="description">33K</span>
                                                    </div>
                                                </div>
                                                <div class="mr-5">
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="heading"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="description">5K</span>
                                                    </div>
                                                </div>
                                                <div class="mr-5">
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="heading"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="description">7K</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <h5>Puntuación</h5>
                                                        <div class="container nopadding">
                                                            <div class="row">
                                                                <div class="col-md-6" style="margin-right: inherit;">
                                                                    <div class="progress-wrapper">
                                                                        <div class="progress-info">
                                                                          <div class="progress-label">
                                                                            <span>Calidad</span>
                                                                          </div>
                                                                          <div class="progress-percentage">
                                                                            <span>4/5</span>
                                                                          </div>
                                                                        </div>
                                                                        <ngb-progressbar type="default" [value]="70"></ngb-progressbar>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" style="margin-right: inherit;">
                                                                    <div class="progress-wrapper">
                                                                        <div class="progress-info">
                                                                          <div class="progress-label">
                                                                            <span>Infl.</span>
                                                                          </div>
                                                                          <div class="progress-percentage">
                                                                            <span>4.3/5</span>
                                                                          </div>
                                                                        </div>
                                                                        <ngb-progressbar type="default" [value]="75"></ngb-progressbar>
                                                                      </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6" style="margin-right: inherit;">
                                                                    <div class="progress-wrapper">
                                                                        <div class="progress-info">
                                                                          <div class="progress-label">
                                                                            <span>Engagement</span>
                                                                          </div>
                                                                          <div class="progress-percentage">
                                                                            <span>3/5</span>
                                                                          </div>
                                                                        </div>
                                                                        <ngb-progressbar type="default" [value]="60"></ngb-progressbar>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" style="margin-right: inherit;">
                                                                    <div class="progress-wrapper">
                                                                        <div class="progress-info">
                                                                          <div class="progress-label">
                                                                            <span>Afinidad</span>
                                                                          </div>
                                                                          <div class="progress-percentage">
                                                                            <span>3.5/5</span>
                                                                          </div>
                                                                        </div>
                                                                        <ngb-progressbar type="default" [value]="65"></ngb-progressbar>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <h5>Estadísticas</h5>
                                                        <div class="container nopadding fontmin">
                                                            <div class="row mt-2">
                                                                <div class="col-md-7" >
                                                                    <span >Solicitudes</span>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <span class="pink">190</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-2">
                                                                <div class="col-md-7">
                                                                    <span>Responde al</span>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <span class="pink">96%</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-2">
                                                                <div class="col-md-7">
                                                                    <span>Aprobadas</span>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <span class="pink">12%</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-2 mb-3">
                                                                <div class="col-md-7">
                                                                    <span>Comparte en</span>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <span class="pink" style="font-size: 11px;">2 días</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <h5>Valoración</h5>
                                                        <div class="container nopadding">
                                                            <div class="row mt-2 nomargin">
                                                                <fieldset class="rating">
                                                                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                                </fieldset>
                                                              </div>
                                                              <div class="row nomargin">
                                                                <span>4,5 / 5</span>
                                                              </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-5 nopadding">
                                <div class="shadow">
                                    <div class="row d-flex justify-content-center pinkdiv nomargin">
                                        <h5 class="mt-2" style="color: white;">Mis Campañas</h5>
                                    </div>
                                    <div class="row nomargin mt-3" *ngIf="selectedUsers.length==0">
                                        <div class="col-md-12">
                                            <span class="centered mt-3">Nada seleccionado</span>
                                        </div>
                                    </div>
                                    <div class="row nomargin mt-3" *ngFor="let user of selectedUsers; let i = index;">
                                        <div class="col-md-1" (click)="removeSelected(i);" >
                                            <i class="fa fa-times mt-1" style="cursor: pointer;" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-3 nopadding margin-out">
                                            <img  [src]="user.imageUrl" class="img-fluid rounded-circle shadow-lg image-resize-mini" >
                                        </div>
                                        <div class="col-md-7 nopadding">
                                            <span class="mr-1" style="font-size: 15px; color: #32325d;">{{user.username}}</span>
                                            <span style="font-size: 15px; color: #5e72e4;">5 <i class="fa fa-diamond" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row nomargin">
                                        <div class="col-md-12"> 
                                            <span>Precio Total: <span style="color: #5e72e4;">15 créditos</span></span>
                                        </div>
                                    </div>
                                    <div class="row nomargin">
                                        <div class="col-md-12 mb-3"> 
                                            <span>Influencers totales: <span style="color: #5e72e4;">{{selectedUsers.length}}</span></span>
                                        </div>
                                    </div>
                                    <div class="row ml-auto">
                                        <div class="col-md-12 mb-3 ml-auto">
                                            <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="insertCampaign();">
                                                <span class="btn-inner--text" style="text-transform: none;">Enviar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>