.pinkdiv{
    background-color: #e83a80;
    border-radius: 0.25rem;
}

.nomargin{
    margin-right: unset;
    margin-left: unset;
}

.nopadding{
    padding-right: unset;
}

.shadow{
    height: 60%;
}

.btn-primary{
    background-color: #5e72e4;
    border-color: #5e72e4;
    color: white !important;
}

.btn-primary:active{
    background-color: #5e72e4 !important;
    border-color: #5e72e4 !important;
    color: white !important;
}

.fright{
    position: relative;
    left: 50%;
}