fieldset, label { margin: 0; padding: 0; }

.rating { 
    border: none;
    float: left;
  }
  
.rating > input { display: none; } 
.rating > label:before { 
margin: 5px;
font-size: 1.25em;
font-family: FontAwesome;
display: inline-block;
content: "\f005";
}

.rating > .half:before { 
content: "\f089";
position: absolute;
}

.rating > label { 
color: #ddd; 
float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.shadow{
    height: unset !important;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.dropdown{
    cursor: pointer;
}

.scroll{
    overflow: scroll;
    height: 170px;
}

.nomargin15{
    margin-right: -15px;
    margin-left: -15px;
}

.pinkdiv{
    background-color: #e83a80;
    border-radius: 0.25rem;
}

.nomargin{
    margin-right: unset;
    margin-left: unset;
}

.nopadding{
    padding-right: unset;
    padding-left: unset;
}

.shadow{
    height: 60%;
}

.dropdown{
    margin-top: -5px !important;
    color: #32325d;
    background-color: white;
}

.dropdown-without-mg{
    color: #32325d;
    background-color: white;
}

.btn-default{
    background-color: white;
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active, .show > .btn-default.dropdown-toggle{
    background-color: white;
    color: #32325d;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-item:active,
.dropdown-item:hover{
    background-color: #32325d;
    color: white !important;
}

.badge:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: #5e72e4;
    border-color: #5e72e4;
    color: white !important;
    padding: 6px;
    font-size: 15px;
}

.btn-primary:active{
    background-color: #5e72e4 !important;
    border-color: #5e72e4 !important;
    color: white !important;
}

.fright{
    position: relative;
    left: 50%;
}

.pink{
    color: #e83a80;
}

.description{
    font-size: 10px;
}

.tick{
    color: #e83a80;
    cursor: pointer;
    font-size: 25px;
    float: right;
}

.progress-wrapper{
    padding-top: unset;
}

.progress-label span{
    font-size: 8px !important;
    color: #5e72e4;
}

.fontmin{
    font-size: 12px;
}

.progress-percentage span{
    font-size: 8px !important;
}

.btn-check{
    background-color: white;
    border-color: white;
    color: #e83a80 !important;
    padding: 5px;
    font-size: 15px;
}

.btn-checked{
    background-color: #e83a80;
    border-color: #e83a80;
    color: white !important;
    padding: 5px;
    font-size: 15px;
}

.image-resize{
    display: block;
    margin: 0 auto;
    height: 150px;
    object-fit: cover;
    object-position: center center;
}

@media only screen and (max-width: 767px) {
    .padding-mobile{
        padding: 50px;
    }
}