<main>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h2>Crear un nuevo producto</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="stepwizard">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-primary btn-circle">1</button>
                            <p>Imágenes</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
                            <p>Información</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                            <p>Resumen</p>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <h3>Añade una imágen principal</h3>
            </div>
        </div>
    </section>
</main>