.pink{
    color: #e83a80;
}

.btn-thumpsup{
    background-color: #e83a80;
    border-color: #e83a80;
    color: white !important;
    padding: 5px;
    font-size: 15px;
}

.btn-thumbs-down{
    background-color: unset;
    border-color: white;
    color: #e83a80 !important;
    padding: 5px;
    font-size: 15px;
}

.btn-primary{
    background-color: #5e72e4;
    border-color: #5e72e4;
    color: white !important;
    padding: 6px;
    font-size: 15px;
}


.btn-primary:active{
    background-color: #5e72e4 !important;
    border-color: #5e72e4 !important;
    color: white !important;
}