<main>
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff" 
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
    <section class="section section-lg">
        <div class="container">
            <div class="d-flex mt-3">
                <div class="row">
                    <div class="col-md-7 order-md-1 border-products">
                        <h4>Solicitudes</h4>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <button class="btn btn-1 btn-outline-primary ml-2" type="button">Tu Precio: 3€</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" >
                <div class="col-lg-12">
                  <!-- Menu -->
                  <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">

                      // PENDIENTES
                      <ngb-tab title="Pendientes ({{pendingCampaigns.length}})">
                        <ng-template ngbTabContent>
                            <div class="row mt-5 d-flex justify-content-center" *ngIf="pendingCampaigns.length===0">
                                <h1 class="mt-5 ">No hay Campañas</h1>
                            </div>
                            <div class="container mt-5" *ngFor="let campaign of pendingCampaigns; let e = index" >
                                <div class="shadow">
                                    <div class="row">
                                        <div class="col-md-2 d-flex justify-content-center p-4">
                                            <img *ngIf="!campaign.product.urlimages[0]" src="../../assets/img/brand/user.svg" class="img-fluid rounded-circle image-resize" style="width: 150px; height: max-content;">
                                            <img *ngIf="campaign.product.urlimages[0]" [src]="campaign.product.urlimages[0]" class="img-fluid image-resize" style="width: 150px; height: 150px;">
                                        </div>

                                        <div class="col-md-5 p-4">
                                            <div class="container">
                                                <div class="row">
                                                    <h5 style="text-decoration: underline; font-size: 25px;">{{brandNames[e]}}</h5>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.name}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.sizes}}</h6>
                                                </div>
                                                <div class="row mt-2">
                                                    <h6>{{campaign.product.tags}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.category}}</h6>
                                                </div>
                                                <div class="row">
                                                    <a href="{{campaign.product.url}}" target="_blank" >
                                                        <h6 style="font-size: 15px; text-decoration: underline; text-align: justify;">{{campaign.product.url.substring(0,40)}}...</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 p-4 pr-5 float-right">
                                            <div class="container float-right">
                                                <div class="row float-right">
                                                    <h6 class="pink"><i class="fa fa-clock-o" aria-hidden="true"></i> {{getCampaignStartDate(campaign.createdAt)}}</h6>
                                                    <a class="btn btn-1 btn-thumpsup ml-5" (click)="showAcceptOptions(campaign.campaignId);">
                                                        <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                    </a>
                                                    <a class="btn btn-1 btn-thumbs-down  ml-4" (click)="cancelOptions(campaign.campaignId);">
                                                        <i class="fa fa-thumbs-down" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                    </a>
                                                </div>
                                                <div class="row mt-5" style="overflow-y: scroll; height: 150px;">
                                                    <p style="text-align:justify">{{campaign.product.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mt-4" id="cancel{{campaign.campaignId}}" hidden="">
                                    <form role="form" (ngSubmit)="declineRequest(campaign.campaignId)"  [ngClass]="{'focused':focus===true}">       
                                        <div class="row">
                                            <h3>Escribe tu respuesta</h3>
                                        </div>
                                        <div class="row">
                                            <h5>(Las marcas podrán valorar tu respuesta y esto afectará tu Calidad)</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <input type="text" placeholder="" [(ngModel)]="response" name="response" class="form-control form-control-alternative" />
                                            </div>
                                            <div class="col-md-2">
                                                <button class="btn btn-icon btn-3 btn-secondary-2 ml-4 float-right" type="submit">
                                                    <span class="btn-inner--text">Declinar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="container mt-4" id="accept{{campaign.campaignId}}" hidden="" >
                                    <div class="row">
                                        <h5>Compartiré este producto en:</h5>
                                    </div>
                                    <div class="row">
                                        <h6>(Elige aquellos medios en los que compartirás el producto con tu audiencia)</h6>
                                    </div>
                                    <form role="form"  [ngClass]="{'focused':focus===true}">                    

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Instagram</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="instStry{{campaign.campaignId}}" name="instStry[e]" [(ngModel)]="instStry[e]" type="checkbox">
                                                    <label class="custom-control-label" for="instStry{{campaign.campaignId}}">
                                                        <span>Una Instagram story</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="instPost{{campaign.campaignId}}" name="instPost[e]" [(ngModel)]="instPost[e]" type="checkbox">
                                                    <label class="custom-control-label" for="instPost{{campaign.campaignId}}">
                                                        <span>Un post de Instagram</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Blog</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="blogProd{{campaign.campaignId}}" name="blogProd[e]" [(ngModel)]="blogProd[e]" type="checkbox">
                                                    <label class="custom-control-label" for="blogProd{{campaign.campaignId}}">
                                                        <span>Un blog acerca del producto</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="blogBrand{{campaign.campaignId}}" name="blogBrand[e]" [(ngModel)]="blogBrand[e]" type="checkbox">
                                                    <label class="custom-control-label" for="blogBrand{{campaign.campaignId}}">
                                                        <span>Un blog acerca de la marca</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Cupón de descuento</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="cupon{{campaign.campaignId}}" name="cupon[e]" [(ngModel)]="cupon[e]" type="checkbox">
                                                    <label class="custom-control-label" for="cupon{{campaign.campaignId}}">
                                                        <span>Pide a la marca un cupón de descuento para compartir con tus seguidores (Ej: CUPON12)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Youtube</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="ytbInit{{campaign.campaignId}}" name="ytbInit[e]" [(ngModel)]="ytbInit[e]" type="checkbox">
                                                    <label class="custom-control-label" for="ytbInit{{campaign.campaignId}}">
                                                        <span>El principio o final de un video</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="ytbDuring{{campaign.campaignId}}" name="ytbDuring[e]" [(ngModel)]="ytbDuring[e]" type="checkbox">
                                                    <label class="custom-control-label" for="ytbDuring{{campaign.campaignId}}">
                                                        <span>Durante un video</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="ytbAll{{campaign.campaignId}}" name="ytbAll[e]" [(ngModel)]="ytbAll[e]" type="checkbox">
                                                    <label class="custom-control-label" for="ytbAll{{campaign.campaignId}}">
                                                        <span>Dedicaré todo un video al producto o empresa</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Twitter</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="twtOne{{campaign.campaignId}}" name="twtOne[e]" [(ngModel)]="twtOne[e]" type="checkbox">
                                                    <label class="custom-control-label" for="twtOne{{campaign.campaignId}}">
                                                        <span>Un Tweet</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h3 class="blue">Tik Tok</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="tikOnePost{{campaign.campaignId}}" name="tikOnePost[e]" [(ngModel)]="tikOnePost[e]" type="checkbox">
                                                    <label class="custom-control-label" for="tikOnePost{{campaign.campaignId}}">
                                                        <span>Un post</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <h3 class="blue">Facebook</h3>
                                            </div>
                                            <div class="row">
                                                <div class="custom-control custom-checkbox mb-3 mr-3">
                                                    <input class="custom-control-input" id="fcbkPost{{campaign.campaignId}}" name="fcbkPost[e]" [(ngModel)]="fcbkPost[e]" type="checkbox">
                                                    <label class="custom-control-label" for="fcbkPost{{campaign.campaignId}}">
                                                        <span>Un post en mi página de Facebook</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <h3 class="blue">Escoge tu talla:</h3>
                                            </div>
                                            <div class="row">
                                                <h4>S</h4>
                                                <h4>M</h4>
                                                <h4>L</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <button class="btn btn-icon btn-3 btn-secondary ml-4 float-right" (click)="acceptRequest(campaign.campaignId, e)" type="submit">
                                                    <span class="btn-inner--text">Guardar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </ng-template>
                      </ngb-tab>

                      // EN CURSO
                      <ngb-tab title="En Curso ({{inProgressCampaigns.length}})">
                        <ng-template ngbTabContent>
                            <div class="row mt-5 d-flex justify-content-center" *ngIf="inProgressCampaigns.length===0">
                                <h1 class="mt-5 ">No hay Campañas</h1>
                            </div>
                            <div class="container mt-5" *ngFor="let campaign of inProgressCampaigns; let e = index" >
                                <div class="shadow">
                                    <div class="row">
                                        <div class="col-md-2 d-flex justify-content-center p-4">
                                            <img *ngIf="!campaign.product.urlimages[0]" src="../../assets/img/brand/user.svg" class="img-fluid rounded-circle image-resize" style="width: 150px; height: max-content;">
                                            <img *ngIf="campaign.product.urlimages[0]" [src]="campaign.product.urlimages[0]" class="img-fluid image-resize" style="width: 150px; height: 150px;">
                                        </div>

                                        <div class="col-md-5 p-4">
                                            <div class="container">
                                                <div class="row">
                                                    <h5 style="text-decoration: underline; font-size: 25px;">{{brandNames[e]}}</h5>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.name}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.sizes}}</h6>
                                                </div>
                                                <div class="row mt-2">
                                                    <h6>{{campaign.product.tags}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.category}}</h6>
                                                </div>
                                                <div class="row">
                                                    <a href="{{campaign.product.url}}" target="_blank" >
                                                        <h6 style="font-size: 15px; text-decoration: underline; text-align: justify;">{{campaign.product.url.substring(0,40)}}...</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 p-4">
                                            <div class="container">
                                                <div class="row">
                                                    <a class="btn btn-1 btn-primary" >
                                                        <i class="fa fa-comments" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                    </a>
                                                </div>
                                                <div class="row mt-5" style="overflow-y: scroll; height: 150px;">
                                                    <p style="text-align:justify">{{campaign.product.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mt-4">
                                    <div class="row ml-2">
                                        <div class="col-md-11">
                                            <h3>Proceso</h3>
                                        </div>
                                        <div class="col-md-1">
                                            <i (click)="setProgressDivVisible(e)" *ngIf="!progressVisible[e]" style="font-size: 40px; cursor: pointer; color: #e83a80;" class="fa fa-caret-down" aria-hidden="true"></i> 
                                            <i (click)="setProgressDivVisible(e)" *ngIf="progressVisible[e]" style="font-size: 40px; cursor: pointer; color: #e83a80;" class="fa fa-caret-up" aria-hidden="true"></i> 
                                        </div>
                                    </div>
                                    <div class="container ml-4" *ngIf="progressVisible[e]">
                                        <div class="row" *ngIf="campaign.options.productSend.visible">
                                            <span *ngIf="!campaign.options.productSend.validated">* La marca ha enviado el producto i los datos necesarios</span>
                                            <span *ngIf="campaign.options.productSend.validated" style="color: #e83a80;">
                                                * La marca ha enviado el producto i los datos necesarios
                                                <i class="fa fa-check" aria-hidden="true" style="color: #e83a80; font-size: 25px !important;"></i>
                                            </span>
                                        </div>
                                        <div class="row" *ngIf="campaign.options.productRecieve.visible">
                                            <span class="clickable" (click)="validate(campaign.campaignId, e, campaign.options.productRecieve)" *ngIf="!campaign.options.productRecieve.validated">
                                                * He recibido el producto
                                                <i class="fa fa-check" aria-hidden="true" style="font-size: 25px !important;"></i>
                                            </span>
                                            <span *ngIf="campaign.options.productRecieve.validated" style="color: #e83a80;">
                                                * He recibido el producto
                                                <i class="fa fa-check" aria-hidden="true" style="color: #e83a80; font-size: 25px !important;"></i>
                                            </span>
                                        </div>
                                        <div class="row" *ngIf="campaign.options.cupon.visible">
                                            <span *ngIf="!campaign.options.cupon.validated">* Tu cupón de descuento: </span>
                                            <span *ngIf="campaign.options.cupon.validated">* Tu cupón de descuento: {{campaign.options.cupon.cuponId}}</span>
                                        </div>
                                        <div class="row">
                                            <span *ngIf="!allOptionsChecked[e]">* He compartido el producto en los lugares marcados</span>
                                            <span *ngIf="allOptionsChecked[e]" style="color: #e83a80;">* He compartido el producto en los lugares marcados</span>
                                        </div>
                                        <div class="row ml-3" *ngFor="let item of campaign.options | keyvalue">
                                            <div *ngIf="item.value.visible && item.key!='productSend' && item.key!='productRecieve' && item.key!='cupon'">
                                                <span class="clickable" (click)="validate(campaign.campaignId, e, item.value)" *ngIf="!item.value.validated">
                                                    {{item.value.info}}
                                                    <i class="fa fa-check" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                </span>
                                                <span *ngIf="item.value.validated" style="color: #e83a80;">
                                                    {{item.value.info}}
                                                    <i class="fa fa-check" aria-hidden="true" style="color: #e83a80; font-size: 25px !important;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin-top: 20px; border-top: 1px solid #e83a80;">
                                </div>
                            </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Finalizadas ({{completedCampaigns.length}})">
                        <ng-template ngbTabContent>
                          <div class="container" >
                            <div class="row mt-5 d-flex justify-content-center" *ngIf="completedCampaigns.length===0">
                                <h1 class="mt-5 ">No hay Campañas</h1>
                            </div>
                            <div class="container mt-5" *ngFor="let campaign of completedCampaigns; let e = index" >
                                <div class="shadow">
                                    <div class="row">
                                        <div class="col-md-2 d-flex justify-content-center p-4">
                                            <img *ngIf="!campaign.product.urlimages[0]" src="../../assets/img/brand/user.svg" class="img-fluid rounded-circle image-resize" style="width: 150px; height: max-content;">
                                            <img *ngIf="campaign.product.urlimages[0]" [src]="campaign.product.urlimages[0]" class="img-fluid image-resize" style="width: 150px; height: 150px;">
                                        </div>

                                        <div class="col-md-5 p-4">
                                            <div class="container">
                                                <div class="row">
                                                    <h5 style="text-decoration: underline;">Nombre marca</h5>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.name}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.sizes}}</h6>
                                                </div>
                                                <div class="row mt-2">
                                                    <h6>{{campaign.product.tags}}</h6>
                                                </div>
                                                <div class="row">
                                                    <h6>{{campaign.product.category}}</h6>
                                                </div>
                                                <div class="row">
                                                    <a href="{{campaign.product.url}}" target="_blank" >
                                                        <h6 style="font-size: 15px; text-decoration: underline; text-align: justify;">{{campaign.product.url.substring(0,40)}}...</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 p-4">
                                            <div class="container">
                                                <div class="row">
                                                    <a class="btn btn-1 btn-primary" >
                                                        <i class="fa fa-comments" aria-hidden="true" style="font-size: 25px !important;"></i>
                                                    </a>
                                                    <a class="btn btn-1 btn-thumpsup ml-5" >
                                                        <span>Valorar</span>
                                                    </a>
                                                </div>
                                                <div class="row mt-5">
                                                    <p>{{campaign.product.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                  </ngb-tabset>
                </div>
              </div>
        </div>
    </section>
</main>
