.heading{
    font-size: 2rem !important;
    color: black;
}

.image-resize{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center center;
}

.profile-page .card-profile .card-profile-image img{
    max-width: none;
}

@media only screen and (max-width: 992px) {
	.mrt{
        margin-top: 8em;
    }
}