<main class="profile-page">
<section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-primary alpha-4" style="background-image: url('../../assets/img/brand/Bannerprofile.jpg');">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
    </div>
</section>
<section class="section">
    <div class="container">
    <div class="card card-profile shadow mt--300">
        <div class="px-4">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <a href="javascript:void(0)">
                        <img *ngIf="!user.imageUrl" src="../../assets/img/brand/user.svg" class="rounded-circle">
                        <img [src]="user.imageUrl" class="rounded-circle">
                    </a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 mrt">
                <div class="card-profile-stats d-flex justify-content-center">
                    <div> 
                        <span class="heading"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        <span class="description">33K</span>
                    </div>
                    <div>
                        <span class="heading"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
                        <span class="description">5K</span>
                    </div>
                    <div>
                        <span class="heading"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <span class="description">7K</span>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <h3>{{this.username}}
                </h3>
                <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{user.country}}</div>
                <div class="h6 mt-4"><a href="user.website" target="_blank">{{user.website}}</a></div>
            </div>
            <div class="mt-3 py-5 border-top text-center">
                <div class="row justify-content-center">
                <div class="col-lg-9">
                    <p *ngIf="this.user.description">{{this.user.description}}</p>
                    <p *ngIf="!this.user.description">No hay descripción</p>
                    <hr style="width: 15%;height:0.5px; background-color:gray;">
                </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                <h4>Productos (6)</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                <h4>Favoritos (12)</h4>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</main>