<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5 hideMbl" [routerLink]="['/home']">
      <img src="../../../assets/img/brand/HooplingLogo.png">
    </a>

    <a class="navbar-brand mr-lg-5" [routerLink]="['/send-product']" *ngIf="isBrand()">
      <button class="btn btn-1 btn-primary-principal" type="button">Enviar Producto</button>
    </a>

    <a class="navbar-brand mr-lg-5" *ngIf="isInfluencer()" [routerLink]="['/requests']">
      <button class="btn btn-1 btn-primary-principal" type="button">Solicitudes</button>
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="../../../assets/img/brand/HooplingLogo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item" [routerLinkActive]="['active']" >
          <!-- USER LOGGED-->
          <a class="nav-link" role="button" [routerLink]="['/user-profile']" *ngIf="isInfluencer()">
            <span class="nav-link-inner--text">Mi perfil</span>
          </a>
          <a class="nav-link"role="button" [routerLink]="['/brand-profile']" *ngIf="isUserLogged() && isBrand()">
            <span class="nav-link-inner--text">Mi perfil</span>
          </a>
          <!-- USER LOGGED-->
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"role="button" [routerLink]="['/campaigns']" *ngIf="isUserLogged() && isBrand()">
            <span class="nav-link-inner--text">Mis campañas</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"role="button" [routerLink]="['/influencers']">
            <span class="nav-link-inner--text">Influencers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"role="button" [routerLink]="['/home']">
            <span class="nav-link-inner--text">Chat de Soporte</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-lg-block ml-lg-4" *ngIf="!showCredit && isUserLogged() && isBrand()" (click)="open()">
          <i class="fa fa-plus mr-1 aplusnocredit" aria-hidden="true"></i>
          <a class="btn btn-1 btn-primary-nocredit" style="font-size: 15px;">
            <span class="nav-link-inner--text">{{userCredit}} <i class="fa fa-diamond" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li class="nav-item d-lg-block ml-lg-4" *ngIf="showCredit && isUserLogged() && isBrand()" (click)="open()">
          <i class="fa fa-plus mr-1 aplus" aria-hidden="true"></i>
          <a class="btn btn-1 btn-primary" style="font-size: 15px;">
            <span class="nav-link-inner--text">{{userCredit}} <i class="fa fa-diamond" aria-hidden="true"></i>
            </span>
          </a>
        </li> 
        <li class="nav-item d-lg-block ml-lg-4" *ngIf="isUserLogged() && isInfluencer()">
          <a class="btn btn-1 btn-outline-primary disabled" [routerLink]="['/login']">
            <span class="nav-link-inner--text">{{userCredit}} €</span>
          </a>
        </li>
        <li class="nav-item d-lg-block ml-lg-4" *ngIf="!isUserLogged()">
          <a class="btn btn-1 btn-primary-principal" [routerLink]="['/pre-signup']">
            <span class="nav-link-inner--text">Regístrate</span>
          </a>
        </li>
        <li class="nav-item d-lg-block ml-lg-4" *ngIf="!isUserLogged()">
          <a class="btn btn-neutral btn-icon" [routerLink]="['/login']">
            <span class="nav-link-inner--text">Iniciar sesión</span>
          </a>
        </li>

        <li class="nav-item ml-lg-4" ngbDropdown placement="bottom-right" *ngIf="isUserLogged()">
          <a class="notification nav-link no-caret" ngbDropdownToggle id="dropdown1">
            <i class="fa fa-bell" aria-hidden="true" style="font-size: 30px;"></i>
            <span class="badge showOnMobile">3</span>
          </a> 
          <div class="dropdown-menu-right" aria-labelledby="dropdown1" ngbDropdownMenu>
            <a class="dropdown-item" style="cursor: pointer;">Tienes <span class="color">1 mensaje</span> de Nike <i class="fa fa-superpowers ml-2" aria-hidden="true"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="cursor: pointer;">Tienes <span class="color">2 valoraciones</span> nuevas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="cursor: pointer;">Tienes <span class="color">4 solicitudes</span> nuevas</a>
          </div>
        </li>
        
        <li class="nav-item" ngbDropdown placement="bottom-right" *ngIf="isUserLogged()">
          <a class="nav-link no-caret" style="cursor: pointer;" ngbDropdownToggle id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true" style="font-size: 30px;"></i>
          </a>
          <div class="dropdown-menu-right" aria-labelledby="dropdown1" ngbDropdownMenu>
            <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/edit-profile']" *ngIf="isInfluencer()">Editar Perfil <i class="fa fa-pencil-square-o ml-2" aria-hidden="true"></i></a>
            <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/edit-brand']" *ngIf="isBrand()">Editar Perfil <i class="fa fa-pencil-square-o ml-2" aria-hidden="true"></i></a>
            <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/settings']">Ajustes <i class="fa fa-sliders ml-2" aria-hidden="true"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="cursor: pointer;"  (click)="logOut()">Cerrar Sesión <i class="fa fa-sign-out ml-2" aria-hidden="true"></i></a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
