
<main>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="large"
        color="#fff" 
        type="ball-scale-multiple"
    >
    <p style="font-size: 20px; color: white">Cargando productos...</p>
    </ngx-spinner>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h2>Enviar Producto</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <div class="row">
                    <div class="col-md-6 order-md-1 border-products">
                        <h4>Mis productos</h4>
                    </div>
                    <div class="col-md-6 order-md-1">
                        <button class="btn btn-1 btn-outline-primary ml-2" [routerLink]="['/new-product']" type="button"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Crear Nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center" *ngIf="products.length===0">
            <h1 class="mt-5 ">No hay productos</h1>
        </div>
        <div class="container mt-5" *ngFor="let product of products; let i = index ">
            <div class="shadow">
                <div class="row ">
                    <div class="col-md-3 mt-4 mb-4 d-flex justify-content-center">
                        <img class="imgsize" class="image-resize mt-2" [src]="product.urlimages[0]" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <h2>{{product.name}}</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 blockruby">
                                    <h6>{{product.sizes}}</h6>
                                    <h6 *ngFor="let disabledSize of disabledSizes[i]" style="color: gray;">/{{disabledSize}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 blockruby">
                                    <h6>{{product.category}}</h6>
                                    <span class="badge badge-pill badge-info text-uppercase ml-2"  *ngFor="let tag of tags[i]">{{tag}}</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <a href="{{product.url}}" target="_blank">{{product.url.substring(0,40)}}...</a>
                                </div>
                            </div>
                            <div class="row mt-4 mb-4" style="overflow-y: scroll; height: 90px;">
                                <div class="col-md-12">
                                    <p><b>Descripción:</b> {{product.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="container">
                            <div class="row mt-4  mr-5">
                                <div class="ml-auto">
                                    <button class="btn btn-icon btn-3 btn-primary" type="button" [routerLink]="['/influencers', product.id]">
                                        <span class="btn-inner--text">Enviar</span>
                                        <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-4 mr-5">
                                <div class="ml-auto">
                                    <a class="" style="cursor: pointer;">
                                        <span class="btn-inner--text">Editar</span>
                                        <span class="btn-inner--icon ml-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>  