<main>
    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-md-6 order-md-1">
                    <div class="pr-md-5">
                        <h2>Enviar Producto</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row row-grid align-items-center ">
                    <div class="col-md-6 order-md-1 border-products">
                        <h4>Mis productos</h4>
                    </div>
                    <div class="col-md-6 order-md-1">
                        <button class="btn btn-1 btn-outline-primary ml-2" [routerLink]="['/new-product']" type="button"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Crear Nuevo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5" *ngFor="let product of products">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../../assets/img/icons/common/white-image.png" width="100%"  alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9">
                                    <h5>Nombre de producto</h5>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-icon btn-3 btn-primary ml-4 float-right" type="button">
                                        <span class="btn-inner--text">Enviar</span>
                                        <span class="btn-inner--icon"><i class="fa fa-paper-plane"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-9">
                                    <h6>Vintage Gafas</h6>
                                </div>
                                <div class="col-md-3">
                                    <a class=" ml-4 float-right" style="cursor: pointer;">
                                        <span class="btn-inner--text">Editar</span>
                                        <span class="btn-inner--icon ml-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis, lacus quis hendrerit fermentum, leo enim ornare urna, ut ornare elit odio a lacus. Cras vestibulum purus metus, fermentum porttitor magna pharetra a. Nunc sagittis nulla purus, in suscipit libero mattis et. Cras in nulla ut sem auctor mollis. Ut ac augue non urna aliquam dapibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>  