.btn-outline-primary{
    color: #32325d;
    background-color: transparent;
    background-image: none;
    border-color: #32325d;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: #32325d;
    background-color: #32325d
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0 #32325d;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    border-color: #32325d;
    background-color: #32325d
}

.border-products{
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.imageSize{
    width: 200px; /*any size*/
    height: 200px; /*any size*/
}

.imgsize{
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
}

.blockruby{
    display: block ruby !important;
}

@media only screen and (max-width: 992px) {
    .border-products{
        border-right: 0.0625rem hidden rgba(0, 0, 0, 0.1);
    }
  }