
.show-on-mobile {
    visibility: hidden;
}

.line-right{
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
    .show-on-mobile {
        visibility: visible;
    }

    .line-right{
        border-right: 0.0625rem hidden rgba(0, 0, 0, 0.1);
    }
  }