<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container container-lg">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <button class="btn btn-primary" type="button" [routerLink]="['/brand-signup']">Soy una marca</button>   
          </div>
          <div class="col-md-6 mb-5 mb-lg-0">
            <button class="btn btn-primary" type="button" [routerLink]="['/influencer-signup']">Soy influencer</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  