<div class="row">
  <div class="col-md-6 pull-left"> 
    <a [routerLink]="['/brand-signup']" >
      <img src="../../../assets/img/theme/team-1-800x800.jpg"  style="opacity: 40%; width: 100%;">
      <div class="centered"><h1>SOY UNA MARCA</h1></div>

    </a>
  </div>
  <div class="col-md-6">
    <a [routerLink]="['/influencer-signup']" >
      <img src="../../../assets/img/theme/team-4-800x800.jpg" style="opacity: 40%; width: 100%;">
      <div class="centered"><h1>SOY INFLUENCER</h1></div>
    </a>
  </div>
</div>
  